*{
  font-family: 'Courier New', Courier, monospace;
}

html{
  background-color: rgb(255, 255, 230);
}

.logo{
  max-width: 6rem;
  max-height: 6rem;
  display: inline;
}

.boltBox{
  border: .1rem solid black;
  margin: .5rem;
  margin-bottom: .25rem;
  padding: .5rem;
  background-color: snow;
}

legend{
  font-size: large;
  font-weight: bolder;
  background-color: rgb(255, 255, 140);
  border: .15rem solid black;
}

input{
  font-style: italic;
  min-width: 20rem;
  background-color: seashell;
}

.total{
  font-weight: bolder;
}

.newTotal{
  font-weight: bolder;
  border: 2px solid black;
  box-shadow: .2rem .2rem .2rem .2rem grey;
  max-width: 10rem;
  padding: .15rem;
}

#submit{
  font-weight: bold;
  font-style: normal;
}






